In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "imie": ["Anna", "Tomek", "Kasia", "Marek", "Julia"],
    "wiek": [23, 35, 29, 41, 22],
    "miasto": ["Warszawa", "Krak√≥w", "Gda≈Ñsk", "Warszawa", "Pozna≈Ñ"],
    "pensja": [4500, 5600, 4900, 6200, 4300],
    "premia": [500, 700, 600, 800, 400],
    "etat": ["pe≈Çny", "pe≈Çny", "czƒô≈õƒá", "pe≈Çny", "czƒô≈õƒá"]
})
df

In [ ]:
# + 5 lat
df['wiek'] + 5

In [ ]:
# Premia x2
df['premia'] * 2

In [ ]:
# Suma pensji i premii
df['przychod'] = df['pensja'] + df['premia']
df

In [ ]:
# Sortowanie
df['miasto'].sort_values(ascending=[True])

In [ ]:
# funkcja abs
df.loc[0, "pensja"] = -4500
df['pensja'].abs()

In [ ]:
# df.apply
df['vat'] = df.apply(lambda row: row['przychod'] * 0.23, axis=1)

In [ ]:
data = {"First": [0.5, 3.4, 2.1, 4.6, 2.6],
        "Second": [1, 2.3, 2.9, 0.4, 3.2]}
df_round =pd.DataFrame(data)
df_round

In [ ]:
# funkcja round
df_round['result'] = df_round.apply(lambda row: row['First'] + row['Second'], axis=1)
df_round['rounded_result'] = df_round['result'].round(0)
df_round

In [ ]:
# df sum
print(f"≈ÇƒÖczny wiek osob to {df['wiek'].sum()} lat.")

df.replace

In [ ]:
# df replace
df.replace(to_replace=['Anna'], value=['Hania'])
df

funkcje agregujace

In [ ]:
print(f"Suma lat wszystkich osob to: {df['wiek'].sum(axis=0)} lat")
print(f"Sredni przychod w grupie badanych to {df['przychod'].mean()}. Natomiast mediana to {df['przychod'].median()}")
print(f"Maksymalna premia wyniosla {df['premia'].max()} i dostal jƒÖ {df.loc[df['premia'] == df['premia'].max()].iloc[0, 0]}")

In [ ]:
df['miasto'].value_counts(normalize=True,
                          sort = True,
                          ascending = True)

In [ ]:
df['wiek'].value_counts(bins=5)

In [ ]:
df['wiek'].agg([min, max, "median"])

In [ ]:
df.agg({"wiek": [min, max, "median"], "przychod": [min, max]})

In [ ]:
print(f"W kolumnie miasto jest {df['miasto'].value_counts().sum() - df['miasto'].nunique()} warto≈õƒá powtarzajƒÖca siƒô")
print(df['miasto'].nunique())

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "imie": ["Anna", "Tomek", "Kasia", "Marek", "Julia"],
    "wiek": [23, 35, 29, 41, 22],
    "miasto": ["Warszawa", "Krak√≥w", "Gda≈Ñsk", "Warszawa", "Pozna≈Ñ"],
    "pensja": [4500, 5600, 4900, 6200, 4300],
    "premia": [500, 700, 600, 800, 400],
    "etat": ["pe≈Çny", "pe≈Çny", "czƒô≈õƒá", "pe≈Çny", "czƒô≈õƒá"]
})

:

üîπ 1. Obliczenia i nowe kolumny:
- Dodaj nowƒÖ kolumnƒô wynagrodzenie_brutto, bƒôdƒÖcƒÖ sumƒÖ pensji i premii powiƒôkszonƒÖ o 20% (podatek i sk≈Çadki).

- Dodaj kolumnƒô wiek_za_10_lat, obliczonƒÖ za pomocƒÖ apply() i funkcji lambda.

üîπ 2. Przekszta≈Çcenia danych:
- Zamie≈Ñ warto≈õci w kolumnie etat na warto≈õci binarne (pe≈Çny ‚Üí 1, czƒô≈õƒá ‚Üí 0) przy u≈ºyciu map().

- Zamie≈Ñ nazwƒô miasta ‚ÄûWarszawa‚Äù na ‚ÄûWAW‚Äù w kolumnie miasto za pomocƒÖ replace().

üîπ 3. Agregacje i podsumowania:
- Oblicz ≈õrednie wynagrodzenie brutto w ca≈Çej firmie.

- Podaj maksymalnƒÖ premiƒô.

- Policz, ile os√≥b pracuje w pe≈Çnym wymiarze (etat).

üîπ 4. Ekstra (opcjonalnie):
- Za pomocƒÖ agg() podaj min, max, mean dla kolumny wiek.

- Zlicz ilu pracownik√≥w mieszka w ka≈ºdym z miast (value_counts()).

In [ ]:
# Dodaj nowƒÖ kolumnƒô wynagrodzenie_brutto, bƒôdƒÖcƒÖ sumƒÖ pensji i premii powiƒôkszonƒÖ o 20% (podatek i sk≈Çadki).
df['wynagrodzenie_brutto'] = (df['pensja'] + df['premia']) * 1.2

In [ ]:
# Dodaj kolumnƒô wiek_za_10_lat, obliczonƒÖ za pomocƒÖ apply() i funkcji lambda.
df['wiek_za_10_lat'] = df.apply(lambda row: row['wiek'] + 10, axis=1)

In [ ]:
# Zamie≈Ñ warto≈õci w kolumnie etat na warto≈õci binarne (pe≈Çny ‚Üí 1, czƒô≈õƒá ‚Üí 0) przy u≈ºyciu map().
df['etat'] = df['etat'].map({"pe≈Çny": 1, "czƒô≈õƒá": 0})
df

In [ ]:
# Zamie≈Ñ nazwƒô miasta ‚ÄûWarszawa‚Äù na ‚ÄûWAW‚Äù w kolumnie miasto za pomocƒÖ replace().
df.replace(to_replace=["Warszawa"], value=["WAW"])

In [ ]:
# Oblicz ≈õrednie wynagrodzenie brutto w ca≈Çej firmie.
# Podaj maksymalnƒÖ premiƒô.
# Policz, ile os√≥b pracuje w pe≈Çnym wymiarze (etat).



print(f"≈örednie wynagrodzenie w firmie wynosi {df['wynagrodzenie_brutto'].mean()}.")
print(f"Tym samym maksymalna pensja wynosi {df['premia'].max()}")
print(f"Natomiast w pe≈Çnym wymiarze pracy pracuje {df['etat'].value_counts()[1]} osoby, a w czƒô≈õciwym {len(df['etat']) - df['etat'].value_counts()[1]} osoby.")

In [ ]:
# Za pomocƒÖ agg() podaj min, max, mean dla kolumny wiek.
df['wiek'].agg([min, max, 'mean', 'median'])

In [ ]:
# Zlicz ilu pracownik√≥w mieszka w ka≈ºdym z miast (value_counts()).
df['miasto'].value_counts()