In [ ]:
import pandas as pd

data = {
    "imie": ["Anna", "Bartek", "Celina", "Darek", "Ela", "Filip"],
    "wiek": [23, 35, 29, 42, 22, None],
    "miasto": ["Warszawa", "Kraków", "Warszawa", "Poznań", "Gdańsk", "Kraków"],
    "punkty": [89, 75, 95, 65, 80, 70]
}

df = pd.DataFrame(data)
df

In [ ]:
# Wybieranie kolumny za pomocą []
df['imie']

In [ ]:
df.imie

df.loc

In [ ]:
# Zwrócenie elementu o indeksie 0
df.loc[0]

In [ ]:
# Zwrócenie elementu o indeksie 0 i kolumny imie
df.loc[0, "imie"]

In [ ]:
# Zwrócenie zakresu elementów
df.loc[::, "imie":"wiek"]

In [ ]:
# Zwrocenie warunkowego wyszukania
df.loc[df['wiek'] > 35]

In [ ]:
# Mieszkańcy warszawy
df.loc[df.miasto == "Warszawa"]

df.iloc

In [ ]:
# Pierwszy element
df.iloc[0]

In [ ]:
# 3 osoba z DF i 3 kolumna
df.iloc[2, 2]

In [ ]:
# 2 pierwsze osoby z DF
df.iloc[0:2, ::]

➤ A. Podstawowa selekcja

Wybierz kolumnę wiek

Wybierz wiersz o indeksie 3

Wybierz tylko kolumny imie i miasto

In [ ]:
df['wiek']

In [ ]:
df.iloc[3]

In [ ]:
df.loc[::, ["imie", "miasto"]]

filtrowanie warunkowe

In [ ]:
df[(df["punkty"] > 50) & (df["miasto"] == "Warszawa")]

In [ ]:
df.loc[(df["punkty"] > 50) & (df["miasto"] == "Warszawa")]

In [ ]:
df.query("punkty > 80")

In [ ]:
df[df['punkty'] > 80]

Filtruj osoby, które mają więcej niż 30 lat

Filtruj osoby z Warszawa, które mają ponad 80 punktów

Użyj query() do uzyskania osób z Krakowa o punktach poniżej 80

In [ ]:
df[df["wiek"] > 30]

In [ ]:
df.loc[(df["miasto"] == "Warszawa") & (df["punkty"] > 80)]

In [ ]:
df.query("miasto == 'Kraków' and punkty < 80")

operacje logiczne i maski

In [ ]:
# Sprawdzenie czy są puste wartosci
df.isnull()

In [ ]:
# Sprawdzenie ile jest Null wartosci w kolumnach
df.isnull().sum()

In [ ]:
# Sprawdzenie jaki rzad ma wartosc null
df[df["wiek"].isnull()]

In [ ]:
df.isnull().values.any()

In [ ]:
# Sprawdzenie, czy w kolumnie miasto jest Warszwa
df['miasto'].isin(["Warszawa"]).values.any()

In [ ]:
# Sprawdzenie indeksow, w ktorych sa imiona ['Filip', 'Anna', 'Wiktoria', 'Konrad']
df[df['imie'].isin(['Filip', 'Anna', 'Wiktoria', 'Konrad'])]

In [ ]:
# Ludzie pomiedzy 18-30 rokiem
df[df['wiek'].between(18, 30)]

In [ ]:
df[~ df['wiek'].between(18, 30)]

df filter

In [ ]:
# kolumny imie i wiek
df.filter(items=["imie", "wiek"])

In [ ]:
# kolumny, ktore posiadaja w nazwie imi
df.filter(like="imi")

In [ ]:
# kolumny, ktore posiadaja i
df.filter(regex="^w")

In [ ]:
# Wybranie rzędów 0:2
df.filter(items=[0,1,2], axis=0)

df.**select_dtypes**

In [ ]:
df.select_dtypes(include=[object, float], exclude=[int])

In [ ]:
import numpy as np
df.select_dtypes(include=[np.number])

In [ ]:
df.isnull().select_dtypes(include=[bool])

df.get()

In [ ]:
df.get(key = "imie")

In [ ]:
df.get(key="imi", default="Brak")

In [ ]:
df.get(key=["imie", "wiek"], default = "Brak")

In [ ]:
df.get(key=["imie", "wiek", "wi"], default = "Brak")

Wybierz tylko osoby z miastem Warszawa lub Gdańsk

Wybierz osoby, które mają punkty pomiędzy 70 a 90

Zwróć tylko kolumny: imie, wiek, punkty

In [ ]:
df[(df['miasto'] == "Warszawa") | (df['miasto'] == 'Gdańsk')]

In [ ]:
df.query("miasto == 'Warszawa' or miasto == 'Gdańsk'")

In [ ]:
df.loc[df['miasto'].isin(['Warszawa', "Gdańsk"])]

Wybierz osoby, które mają punkty pomiędzy 70 a 90

In [ ]:
df.loc[df['punkty'].between(70, 90)]

Zwróć tylko kolumny: imie, wiek, punkty

In [ ]:
df.filter(items=["imie", "wiek", "punkty"], axis=1)