In [ ]:
import pandas as pd
import numpy as np

data = {
    "Region": ["North", "South", "East", "West", "North", "East", "South", "West", "North", "East"],
    "Sprzedawca": ["Anna", "Tomasz", "Julia", "Anna", "Tomasz", "Julia", "Anna", "Tomasz", "Anna", "Julia"],
    "Produkt": ["A", "B", "A", "B", "C", "A", "C", "C", "B", "B"],
    "Sprzeda≈º": [200, 150, np.nan, 250, 180, 220, 210, np.nan, 270, 160],
    "Rok": [2023, 2023, 2023, 2023, 2024, 2024, 2024, 2024, 2024, 2024],
}

df_sales = pd.DataFrame(data)
df_sales

In [ ]:
# Grupowanie
df_sales.groupby(["Rok"])

In [ ]:
# Sprzeda≈ºe na przestrzeni roku
df_sales.groupby("Rok")['Sprzeda≈º'].sum()

In [ ]:
# Sprzeda≈ºe sprzedawc√≥w
df_sales.groupby("Sprzedawca")["Sprzeda≈º"].sum()

In [ ]:
# Sprzeda≈ºe sprzedawcow ze wzgledu na region
df_sales.groupby(["Sprzedawca", "Region"], group_keys=False)["Sprzeda≈º"].sum()

In [ ]:
import pandas as pd

# Tworzenie s≈Çownika z danymi
data_nba = {
    'Zawodnik': ['LeBron James', 'Stephen Curry', 'Kevin Durant', 'Giannis Antetokounmpo', 'Nikola Jokic', 'Luka Doncic', 'Joel Embiid', 'Jayson Tatum', 'Damian Lillard', 'Anthony Davis'],
    'Dru≈ºyna': ['Los Angeles Lakers', 'Golden State Warriors', 'Phoenix Suns', 'Milwaukee Bucks', 'Denver Nuggets', 'Dallas Mavericks', 'Philadelphia 76ers', 'Boston Celtics', 'Milwaukee Bucks', 'Los Angeles Lakers'],
    'Pozycja': ['SF', 'PG', 'SF', 'PF', 'C', 'PG', 'C', 'SF', 'PG', 'PF/C'],
    'Punkty': [28.9, 29.4, 29.1, 31.1, 24.5, 32.4, 33.1, 30.1, 25.2, 25.9], # Przyk≈Çadowe ≈õrednie punkty na mecz
    'Zbi√≥rki': [8.3, 6.1, 6.7, 11.8, 11.8, 8.6, 10.2, 8.8, 4.6, 12.5], # Przyk≈Çadowe ≈õrednie zbi√≥rki na mecz
    'Asysty': [6.8, 6.3, 5.0, 5.7, 9.8, 8.0, 4.2, 4.6, 6.9, 2.6]  # Przyk≈Çadowe ≈õrednie asysty na mecz
}

# Tworzenie obiektu DataFrame
df_nba = pd.DataFrame(data_nba)

# Wy≈õwietlenie DataFrame
df_nba

In [ ]:
# Ilosc zawodnik√≥w
df_nba.groupby(["Dru≈ºyna"]).size()

In [ ]:
import numpy as np
df_nba.groupby(by='Pozycja', as_index=True, group_keys=False).agg(Max_Punktow = ('Punkty', "max"),
                              Min_Punktow = ('Punkty', 'min'),
                              Srednia_Punktow = ('Punkty', 'mean'))

In [ ]:
print(f"Ile jest wartosci null: {len(df_sales['Sprzeda≈º']) - df_sales['Sprzeda≈º'].count()}")

usuwanie

In [ ]:
df_sales

In [ ]:
df_sales.drop("Produkt", axis = 1)

In [ ]:
df_sales.drop(labels=[0], axis=0)

In [ ]:
df_sales

In [ ]:
df_sales.dropna()

In [ ]:
df_sales

In [ ]:
df_sales['Sprzeda≈º'].fillna(df_sales['Sprzeda≈º'].mean())

In [ ]:
df_sales['Sprzeda≈º'].mean()

In [ ]:
df_sales['Sprzedawca'].duplicated()

In [ ]:
df_sales['Sprzedawca'].drop_duplicates()

In [ ]:
df_sales

üßπ Czyszczenie danych
- Usu≈Ñ wiersze z brakujƒÖcƒÖ warto≈õciƒÖ sprzeda≈ºy.

- Wype≈Çnij brakujƒÖce warto≈õci sprzeda≈ºy medianƒÖ z kolumny.

- Usu≈Ñ wszystkie duplikaty w danych.

üìä Grupowanie i agregacja
- Oblicz ≈õredniƒÖ sprzeda≈º dla ka≈ºdego regionu.

- Podsumuj ≈ÇƒÖcznƒÖ sprzeda≈º ka≈ºdego sprzedawcy.

- Poka≈º ≈õredniƒÖ i sumƒô sprzeda≈ºy dla ka≈ºdego produktu.

- Ile produkt√≥w ka≈ºdego typu sprzedano w 2024 roku?

üîÑ Zaawansowane
- Dla ka≈ºdego sprzedawcy poka≈º najwy≈ºszƒÖ sprzeda≈º, jakƒÖ osiƒÖgnƒÖ≈Ç.

- Dla ka≈ºdego regionu oblicz ≈õredniƒÖ sprzeda≈º tylko dla produktu "Laptop".

- Policz ile razy ka≈ºdy sprzedawca sprzeda≈Ç produkt o warto≈õci powy≈ºej 200.

In [ ]:
import pandas as pd
import numpy as np

data = {
    "Sprzedawca": ["Anna", "Bartek", "Anna", "Daniel", "Anna", "Daniel", "Bartek", "Daniel", "Anna", "Bartek", "Daniel"],
    "Produkt": ["Laptop", "Monitor", "Monitor", "Laptop", "Laptop", "Tablet", "Monitor", "Tablet", "Tablet", "Monitor", "Tablet"],
    "Sprzeda≈º": [200, 150, 170, 220, np.nan, 210, 150, 230, 210, 150, np.nan],
    "Region": ["P√≥≈Çnoc", "Po≈Çudnie", "P√≥≈Çnoc", "Wsch√≥d", "P√≥≈Çnoc", "Wsch√≥d", "Po≈Çudnie", "Wsch√≥d", "P√≥≈Çnoc", "Po≈Çudnie", "Wsch√≥d"],
    "Rok": [2023, 2023, 2024, 2023, 2024, 2023, 2024, 2024, 2024, 2023, 2024]
}

df = pd.DataFrame(data)
df

In [ ]:
# Usu≈Ñ wiersze z brakujƒÖcƒÖ warto≈õciƒÖ sprzeda≈ºy.
df.dropna() # Usuniecie 4 wiersza i 10

In [ ]:
# Wype≈Çnij brakujƒÖce warto≈õci sprzeda≈ºy medianƒÖ z kolumny.
df.fillna(df['Sprzeda≈º'].median())

In [ ]:
# Usu≈Ñ wszystkie duplikaty w danych.
df.drop_duplicates(keep='first')

In [ ]:
# Oblicz ≈õredniƒÖ sprzeda≈º dla ka≈ºdego regionu.
df.groupby(by=['Region'])['Sprzeda≈º'].mean()

In [ ]:
# Podsumuj ≈ÇƒÖcznƒÖ sprzeda≈º ka≈ºdego sprzedawcy.
df.groupby(by=["Sprzedawca"])['Sprzeda≈º'].sum()

In [ ]:
# Poka≈º ≈õredniƒÖ i sumƒô sprzeda≈ºy dla ka≈ºdego produktu.
df.groupby(by=['Produkt']).agg(Srednia = ('Sprzeda≈º', 'mean'), Suma = ('Sprzeda≈º', 'sum'))

In [ ]:
# Ile produkt√≥w ka≈ºdego typu sprzedano w 2024 roku?
df.groupby(by=['Produkt'])['Sprzeda≈º'].count()

In [ ]:
# Dla ka≈ºdego sprzedawcy poka≈º najwy≈ºszƒÖ sprzeda≈º, jakƒÖ osiƒÖgnƒÖ≈Ç.
df.groupby(by=['Sprzedawca'])['Sprzeda≈º'].max()

In [ ]:
# Dla ka≈ºdego regionu oblicz ≈õredniƒÖ sprzeda≈º tylko dla produktu "Laptop".
df.loc[df['Produkt'] == 'Laptop'].groupby(by=['Region'])['Sprzeda≈º'].mean()

In [ ]:
# Policz ile razy ka≈ºdy sprzedawca sprzeda≈Ç produkt o warto≈õci powy≈ºej 200.
df.loc[df['Sprzeda≈º'] > 200].groupby(by=['Sprzedawca'])['Sprzeda≈º'].count()