In [ ]:
# imports
import pandas as pd
import numpy as np

In [ ]:
# Data
data = {
    "title": [
        "Władca Pierścieni", "Harry Potter", "Zbrodnia i kara",
        "Rok 1984", "Lalka", "Duma i uprzedzenie", "Mały Książę"
    ],
    "author": [
        "J.R.R. Tolkien", "J.K. Rowling", "Fiodor Dostojewski",
        "George Orwell", "Bolesław Prus", "Jane Austen", "Antoine de Saint-Exupéry"
    ],
    "price": [59.90, 39.99, 45.50, 33.00, 42.00, 36.99, 29.90],
    "rating": [4.9, 4.8, 4.6, 4.7, 4.5, 4.6, 4.8],
    "year": [1954, 1997, 1866, 1949, 1890, 1813, 1943],
    "pages": [1178, 340, 671, 328, 672, 432, 96]
}

In [ ]:
# Creating dataframe
df_1 = pd.DataFrame(data=data, index=[i for i in range(1,8,1)], columns=["title", "author", "year", "pages", "rating", "price"], dtype=str, copy=False)
df_2 = pd.DataFrame(data=data, index=[i for i in range(1,8,1)], columns=["title", "author", "year", "pages", "rating", "price"], dtype=str, copy=True)

In [ ]:
# Creating Series
sr = pd.Series(data=data["rating"], index=[title for title in data["title"]], dtype=str, name=0)

testing copy parameter

In [ ]:
# Testing copy parameter
df_1_test = df_1
df_1_test.loc[1, "title"] = "2"
df_1

In [ ]:
# Testing copy parameter 2
df_2_test = df_2

df_2_test.loc[1, "title"] = "1"
df_2

In [ ]:
df_1_test = df_1

df_1_test.loc[1, "author"] = "2"
df_1

In [ ]:
df_2_test = df_2.copy()

df_2_test.loc[1, "author"] = "2"
df_2

Utwórz DataFrame z danymi o książkach (tytuł, autor, cena)

In [ ]:
custom_df = pd.DataFrame(data=data, columns=["title", "author", "price"])
custom_df

df tail oraz head

In [ ]:
df_1.head(3)

In [ ]:
df_2.tail(3).head(1)

df info oraz describe

In [ ]:
# Verbose True
df_1.info(verbose=True)

In [ ]:
# Verbose False
df_1.info(verbose=False)

In [ ]:
df_1.info(show_counts = True, memory_usage="deep")

In [ ]:
data = {
    "Imie": ["Jan", "Piotr", "Anna", "Krzysztof", "Jan", "Konrad", "Kuba", "Alicja", "Joanna", "Tomasz"],
    'Wiek': [23, 45, 31, 35, 52, 46, 28, 33, 41, 39],
    'Wzrost': [175, 180, 168, 172, 178, 185, 170, 176, 182, 177],
    'Waga': [70, 85, 65, 68, 90, 88, 72, 75, 86, 80],
    'Dochód': [3200, 4500, 3900, 4100, 5200, 4800, 3600, 4000, 4700, 4300]
}
numerical_df = pd.DataFrame(data=data)
numerical_df

In [ ]:
numerical_df.describe(percentiles=[0.4])

In [ ]:
numerical_df.describe(include=[object])

In [ ]:
numerical_df.describe(exclude=[np.number])

shape, columns, index

In [ ]:
numerical_df.shape

In [ ]:
print(f"in the numerical_df are {list(numerical_df.columns)} columns. \nThe first one is {numerical_df.columns[0]}")

In [ ]:
numerical_df.index

dtypes and memory_usage

In [ ]:
numerical_df.dtypes

In [ ]:
numerical_df.memory_usage(deep=True)

In [ ]:
numerical_df.memory_usage(deep=True)

In [ ]:
from io import StringIO

csv_data = StringIO("""
title,author,year,pages,rating,price
The Pragmatic Programmer,Andrew Hunt,1999,352,4.5,42.99
Clean Code,Robert C. Martin,2008,464,4.7,33.50
Introduction to Machine Learning,Andreas Müller,2016,400,4.3,45.00
Deep Learning,Ian Goodfellow,2016,800,4.6,75.00
Python for Data Analysis,Wes McKinney,2017,550,4.4,39.99
Hands-On Machine Learning,Aurélien Géron,2019,850,4.8,49.99
Designing Data-Intensive Applications,Martin Kleppmann,2017,616,4.9,54.95
""")

csv_data.seek(0)

In [ ]:
df_test = pd.read_csv(csv_data)
df_test

In [ ]:
name_dtype = {name: key for name, key in zip(list(df_test.columns), list(df_test.dtypes))}

print(df_test)
print(f"""
That DataFrame has {df_test.shape[0]} rows and {df_test.shape[1]} cols.
To that DataFrame belongs {list(df_test.columns)} columns.
""")
print(f"First two elements titles are {list(df_test.head(2)['title'])[0]} and {list(df_test.head(2)['title'])[1]}. \nAnd The last two elements titles are {list(df_test.tail(2)['title'])[0]} and {list(df_test.tail(2)['title'])[1]}.")
print(f"There occur {name_dtype} datatypes for")

In [ ]:
print(f"There are \n{df_test.count()}\n not nan values")
df_test.info()

In [ ]:
df_test.describe(percentiles=[0.25, 0.5, 0.75, 0.9, 1], include=[np.number])
# print(df_test['year'].mean())

In [ ]:
df_test.memory_usage(deep=True)

Dostęp do danych

In [ ]:
df_test["title"]

In [ ]:
df_test.title

In [ ]:
df_test["title"].head(3)

In [ ]:
print(f"First elements is {df_test.title[0]}")

In [ ]:
df_test[["title", "price"]].tail(3)

In [ ]:
# Nadpisanie zmiennej
df_test["title"][0] = "Pragmatyczny programista"
df_test

In [ ]:
# Tworzenie kolumny
df_test["My_rating"] = [4, 5, 5, 5, 3, 4, 2]
df_test["discount_price"] = [39.99, 29.99, 45.0, 49.99, 29.99, 49.99, 30.99]
df_test

In [ ]:
# Usuwanie kolumny

del df_test["My_rating"]
df_test

In [ ]:
df_test.drop("discount_price", axis=1)

In [ ]:
df_test.drop(index=2, axis=1)

In [ ]:
df_test.drop(labels=[0], axis = 0)

In [ ]:
df_test.drop(columns=["author"])

In [ ]:
df_test.values[0]

In [ ]:
df_test.at[3, "title"]

In [ ]:
df_test.iat[1, 1]

Wyświetl tylko kolumnę "title" – na 2 sposoby

Wyświetl kolumny "title" i "author" jednocześnie

Zmień kolumnę "year" na typ str

Dodaj kolumnę "age" z wiekiem książki (2025 - rok wydania)

Dodaj kolumnę "net_price" – odlicz 8% VAT od "price"

Zmień wartość w komórce: "title" książki z indeksem 0 na "The Pragmatic Dev"

Usuń kolumnę "rating"

Przypisz cały DataFrame do nowej zmiennej i zobacz, czy zmiany wpływają na oba obiekty (copy vs view)

In [ ]:
data_books = [
    {"title": "The Pragmatic Programmer", "author": "Andrew Hunt", "year": 1999, "pages": 352, "rating": 4.5, "price": 45.00},
    {"title": "Clean Code", "author": "Robert C. Martin", "year": 2008, "pages": 464, "rating": 4.7, "price": 50.00},
    {"title": "Deep Learning", "author": "Ian Goodfellow", "year": 2016, "pages": 775, "rating": 4.4, "price": 70.00},
    {"title": "Introduction to Algorithms", "author": "Thomas H. Cormen", "year": 2009, "pages": 1312, "rating": 4.3, "price": 90.00},
    {"title": "Python Crash Course", "author": "Eric Matthes", "year": 2015, "pages": 544, "rating": 4.6, "price": 38.00}
]

df_books = pd.DataFrame(data_books)
df_books

In [ ]:
# 1 sposob
df_books["title"]
# 2 sposob
df_books.title

In [ ]:
df_books[["title", "author"]]

In [ ]:
df_books['year'].astype(str)

In [ ]:
df_books['age'] = 2025 - df_books['year']
df_books

In [ ]:
df_books['net_price'] = df_books["price"] * 0.92
df_books

In [ ]:
df_books.at[0, "title"] = "The Pragmatic Dev"
df_books

In [ ]:
del df_books["rating"]
df_books

In [ ]:
df_books_copy = df_books.copy()
df_books_copy

In [ ]:
df_books_copy.iat[0,0] = "No book"
df_books_copy

In [ ]:
df_books

In [ ]:
data = {"id": [1, 2, 3, 4, 5],
        "price": [30, 25, 50, 35, 22]}

df_index = pd.DataFrame(data)
df_index.set_index("id")

In [ ]:
df_index.reset_index(drop = True)

Podstawowe operacje Pandas

In [ ]:
import pandas as pd

data_books = [
    {"title": "Automate the Boring Stuff", "author": "Al Sweigart", "year": 2015, "pages": 504, "price": 30.00, "rating": 4.6},
    {"title": "Fluent Python", "author": "Luciano Ramalho", "year": 2015, "pages": 792, "price": 55.00, "rating": 4.7},
    {"title": "Python for Data Analysis", "author": "Wes McKinney", "year": 2022, "pages": 550, "price": 60.00, "rating": 4.8},
    {"title": "Effective Python", "author": "Brett Slatkin", "year": 2019, "pages": 480, "price": 42.00, "rating": 4.5},
    {"title": "Think Python", "author": "Allen B. Downey", "year": 2012, "pages": 300, "price": 25.00, "rating": 4.3}
]

df = pd.DataFrame(data_books)
df

In [ ]:
# Price inflation
df['price'] += 5
df

In [ ]:
df["price_inc_tax"] = df['price'] * 1.23
df

In [ ]:
df['price (str)'] = df['price'].astype(str)
print(f"price type: {df['price'].dtype}\nprice (str) type: {df['price (str)'].dtype}")

In [ ]:
df.rename(columns={"title": "Title"}, inplace = True)
df

In [ ]:
df['Title length'] = df['Title'].apply(len)
df

In [ ]:
df['age'] = df.apply(lambda row: 2025 - row['year'], axis=1)
df

In [ ]:
df['rating out of 5'] = df.apply(lambda row: f"{row['rating']}/5", axis = 1)
df

In [ ]:
df['tax'] = df.apply(lambda row: row['price_inc_tax'] - row['price'], axis=1)
df

In [ ]:
df['pages'] = df.apply(lambda row: f"{row['pages']} p.", axis = 1)
df

In [ ]:
df.insert(loc=0,
          column="id",
          value=[123, 353, 212, 356, 531])
df

In [ ]:
df["price_in_pln"] = df['price'].map(lambda x: x * 3.97)
df[['price', 'price_in_pln']]

In [ ]:
df['id'].map(lambda x: x - 122)

In [ ]:
def convert_rating(x):
  if x > 4.5:
    score = "very good"
  elif 4.5 > x > 4.0:
    score = "good"
  elif 4.0 > x >3.5:
    score = "okey"
  else:
    score = "mid"
  return score

df['rating'].map(convert_rating)

Dodaj nową kolumnę net_price, zawierającą cenę netto po odjęciu 8% VAT.

Dodaj kolumnę age, pokazującą wiek książki (liczony od 2025 roku).

Dodaj kolumnę pages_per_dollar, obliczającą efektywność ceny (liczba stron / cena).

Zmień typ danych w kolumnie year na tekstowy.

Usuń kolumnę rating z DataFrame.

In [ ]:
import pandas as pd

data_books = [
    {"title": "Automate the Boring Stuff", "author": "Al Sweigart", "year": 2015, "pages": 504, "price": 30.00, "rating": 4.6},
    {"title": "Fluent Python", "author": "Luciano Ramalho", "year": 2015, "pages": 792, "price": 55.00, "rating": 4.7},
    {"title": "Python for Data Analysis", "author": "Wes McKinney", "year": 2022, "pages": 550, "price": 60.00, "rating": 4.8},
    {"title": "Effective Python", "author": "Brett Slatkin", "year": 2019, "pages": 480, "price": 42.00, "rating": 4.5},
    {"title": "Think Python", "author": "Allen B. Downey", "year": 2012, "pages": 300, "price": 25.00, "rating": 4.3}
]

df = pd.DataFrame(data_books)
df

Dodaj nową kolumnę net_price, zawierającą cenę netto po odjęciu 8% VAT.

In [ ]:
df['net_price'] = df['price'] * 0.92
df

Dodaj kolumnę age, pokazującą wiek książki (liczony od 2025 roku).

In [ ]:
df['age'] = 2025 - df['year']
df

In [ ]:
df['age'] = df['year'].map(lambda x: 2025 - x)
df

In [ ]:
df['age'] = df.apply(lambda row: 2025 - row['year'], axis=1)
df

Dodaj kolumnę pages_per_dollar, obliczającą efektywność ceny (liczba stron / cena).

In [ ]:
df['pages_per_dollar'] = df.apply(lambda row: row['pages'] / row['price'], axis=1)
df

Zmień typ danych w kolumnie year na tekstowy.

In [ ]:
df['year'] = df['year'].astype(str)
df['year'].dtype

In [ ]:
df.info()

Usuń kolumnę rating z DataFrame.

In [ ]:
del df['rating']
df

In [ ]:
df.to_csv("name.csv", index=True)