In [ ]:
import pandas as pd

df_sales = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5],
    'Sprzedawca': ['Anna', 'Bartek', 'Anna', 'Kasia', 'Marek'],
    'Produkt': ['Laptop', 'Tablet', 'Smartfon', 'Tablet', 'Laptop'],
    'Sprzedaż': [3000, 1500, 2200, 1800, 3200]
})

df_employees = pd.DataFrame({
    'Sprzedawca': ['Anna', 'Bartek', 'Kasia', 'Marek', 'Zofia'],
    'Region': ['Północ', 'Południe', 'Zachód', 'Wschód', 'Centralny'],
    'Zatrudniony_od': ['2020-01-01', '2021-05-10', '2022-07-15', '2019-03-12', '2023-01-01']
})

In [ ]:
#df_sales.set_index('ID', inplace=True)
df_sales

In [ ]:
df_employees

In [ ]:
# pd concat with rows, that's not good with that data
df_concated = pd.concat([df_sales, df_employees], axis=0)
df_concated

In [ ]:
df_concated = pd.concat([df_sales, df_employees], axis=1)
df_concated

In [ ]:
df_concated.keys = ["Sprzedawca"]
df_concated.set_index('ID', inplace=True)
df_concated

In [ ]:
# pd concat with columns
df_concated = pd.concat([df_sales, df_employees], axis=1)
df_concated

In [ ]:
# concat with keys
df_concated_wk = pd.concat([df_employees, df_sales], axis=1, keys=['x', 'y'])
df_concated_wk

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
#     A   B
# 0  A0  B0
# 1  A1  B1

df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})
#     A   B
# 0  A2  B2
# 1  A3  B3

# Konkatenacja BEZ parametru keys
result_no_keys = pd.concat([df1, df2])
print("Wynik bez 'keys':")
print(result_no_keys)
#     A   B
# 0  A0  B0
# 1  A1  B1
# 0  A2  B2  <- Zauważ powtarzające się indeksy 0 i 1
# 1  A3  B3

print("-" * 20)

# Konkatenacja Z parametrem keys
result_with_keys = pd.concat([df1, df2], keys=['x', 'y'])
print("Wynik z 'keys':")
print(result_with_keys)
#       A   B
# x 0  A0  B0
#   1  A1  B1
# y 0  A2  B2
#   1  A3  B3

In [ ]:
result_no_keys

In [ ]:
result_with_keys

In [ ]:
# Resetowanie indeksów
df_employees.reset_index(names="ID")

In [ ]:
data_1 = {"id": [1, 2, 3, 4, 5],
          "name": ["Frodo", "Gandalf", "Legolas", "Sauron", "Gollum"],
          "Age": [50, 1000, 2931, 66000, 589]
}

data_2 = {"id": [1, 3, 5, 6],
          "name": ["Frodo", "Legolas", "Gollum", "Aragorn"],
          "race": ["Hobbit", "elf", "Smeagol", "Dunedain"]}

hobbit_1 = pd.DataFrame(data_1)
hobbit_2 = pd.DataFrame(data_2)
hobbit_1

In [ ]:
hobbit_2

In [ ]:
# pd merge inner
pd.merge(hobbit_1, hobbit_2, on=["id", "name"])

In [ ]:
# pd merge 2 inner
# laczy dane z oby df, uwzgledniajac tylko te dane ktore znajduja sie w obu
hobbit_1.merge(hobbit_2)

In [ ]:
# pd merge outer
# Laczy dane z obu df, uwzgledniajac wszystko
pd.merge(hobbit_1, hobbit_2, how='outer', on=['id', 'name'])

In [ ]:
# pd merge left
# Bierze rzeczy z lewego df i dodaje dodatkowe dane bazujac na informacjach z prawego df
pd.merge(hobbit_1, hobbit_2, how='left', on=['id', 'name'])

In [ ]:
# pd merge right
pd.merge(hobbit_1, hobbit_2, how='right', on=['id', 'name'])

In [ ]:
# pd merge cross
# porownuje ze wszystkimi ?
hobbit_1.merge(hobbit_2, how='cross')